{% extends 'core/base.html' %}

{% block header %}


<h1 
    style="color:forestgreen; text-align: center;">
    Login



</h1>










{% endblock header %}





{% block main %}






    <form method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        <table>
        <button type="submit">Iniciar sesion</button>

        <a href="https://i.gifer.com/78nZ.gif">
            <img src="https://i.gifer.com/78nZ.gif" 
                 alt="GIF de bienvenida" 
                 style="display:block; margin: 0 auto; width:250px;">
        </a>
        


    </form>

    <p>¿No tienes una cuenta? <a href="{% url 'core:register' %}">Registrate aqui</a></p>


    <a href="https://i.gifer.com/origin/9f/9fc6a6f1ea0b47c9364f122c82e9a424_w200.webp">
        <img src="https://i.gifer.com/origin/9f/9fc6a6f1ea0b47c9364f122c82e9a424_w200.webp" 
             alt="GIF de bienvenida" 
             style="display:block; margin: 0 auto; width:300px;">
    </a>
    


{% endblock main %}



