{% extends 'core/base.html' %}

{% block header %}
<h1 style="color:forestgreen; text-align: center;">
  Productos
</h1>

{% endblock header %}

{% block main %}
<div>
  <img style="width: 100%; height: 50vh; margin-top: 10vh;" src="https://cdn2.melodijolola.com/media/files/field/image/frutas.jpg" alt="">
</div>



  <button><a href="{% url 'producto:producto_list' %}">Lista de productos</a></button> 
  <button><a href="{% url 'producto:producto_create' %}">Crear registro</a></button> 
 
{% endblock main %}

