<navbar style="display: flex; justify-content: center;">

    <button><a href="{% url 'core:index' %}">🏡Home</a></button>

    {% if user.is_authenticated %}   
        <button><a href="{% url 'frutas:index' %}">🍓Frutas_borrador</a></button>
        <button><a href="{% url 'verduras:index' %}">🥦Verduras_borrador</a></button>
        <button><a href="{% url 'ofertas:index' %}">🍋Ofertas</a></button>
        <button><a href="{% url 'sucursales:index' %}">🍉Sucursales</a></buton>
        <button><a href="{% url 'producto:index' %}">🍎Frutas2</a></buton>
 
        
        
        <button><a href="{% url 'producto:index_verduras' %}">🥦Verduras2</a></button>
        <button><a href="{% url 'game:index' %}">🎮Game</a></buton>


        <a href="{% url 'core:profile' %}"> 
            <button> 😀 Usuario: {{ user.username }}</button></a>

        </a>
        {% if user.vendedor.avatar %}
            <img src="{{ user.vendedor.avatar.url }}"
                 alt="avatar"
                 style="height: 40px" /></a>


        {% elif user.comprador.avatar %}
            <img src="{{ user.comprador.avatar.url }}"
                 alt="avatar comprador"
                 style="height: 40px" />
        
        
        {% endif %}



        <form action="{% url 'core:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">😾Logout</button>
        </form>


    {% else %}
        <button><a href="{% url 'core:login' %}">😃Login</a></button>

    {% endif %}
</navbar>